{% extends "base.html" %}

{% block content %}

  <h1>{{message}}</h1>

  <h3>Succesful Requests</h3>

  <table class="table">
    <thead>
      <th class="shrink">site</th>
      <th class="shrink">secure</th>
      <th class="shrink">httponly</th>
      <th class="shrink">expiry</th>
      <th class="shrink">domain</th>
      <th class="shrink">path</th>
      <th class="shrink">name</th>
    </thead>
    <tbody>
      {% for site in report.sites if site.cookies %}
        {% for cookie in site.cookies %}
          <tr>
            {% if loop.index == 1 %}
              <td><a href="{{site.url}}" target="_blank">{{site.url|hostname}}</a></td>
            {% else %}
              <td></td>
            {% endif %}
            <td><span class="{{cookie.secure|labelfor('secure')}}">{{cookie.secure}}</span></td>
            <td><span class="{{cookie.httpOnly|labelfor('httponly')}}">{{cookie.httpOnly}}<span></td>
            <td>{{cookie.expiry}}</td>
            <td>{{cookie.domain}}</td>
            <td>{{cookie.path}}</td>
            <td>{{cookie.name}}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>

  <h3>Failed requests</h3>

  <table class="table">
    <thead>
      <th class="shrink">site</th>
      <th class="shrink">state</th>
      <th class="shrink">reason</th>
    </thead>
    <tbody>
      {% for site in report.sites if not site.cookies %}
        <tr>
          <td><a href="{{site.url}}" target="_blank">{{site.url|hostname}}</a></td>
          <td><span class="{{site.state|labelfor('state')}}">{{site.state}}</span></td>
          <td>
            No cookies were obtained due to an error while logging in to the site.
            {% if site.screenshot %}
              (<a href="{{site.screenshot}}" target="_blank">Screenhot</a>)
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
